body {
    font-size: 16px;
    display: flex;
    background: linear-gradient(250deg, rgb(107, 107, 107),rgb(52, 53, 53));
}



/*banner*/
.cont-header {
    display: block;
    width: 100%;
    max-width: 1850px;
    height: 120px;
    position: fixed;
    margin: 0 auto;
    z-index: 99;
    background-color: rgb(27, 27, 27);
    background: linear-gradient(175deg, rgb(248, 174, 211), rgb(43, 43, 43));
    border:solid rgb(255, 255, 255) 2px;
}
.claws {
    display: inline;
    float: left;
    overflow: hidden;
    padding-top: 0px;
    width: 15%;

}
.claws h1 {
    color: #ffffff;
    font-family: 'Lobster';
    font-size: 2.3em;
    text-align: center;
}
.nami-nav{
    display: inline;
    float: right;
    padding-top:60px;

}
nav a {
    text-decoration-line: none;
    padding: 10px;
    font-size: 1.5rem;
    color: #ffffff;
    transition-duration: 100ms;
}
nav ul {
    text-align: center;
}
nav li {
    display: inline;
    transition-property: color;
    transition-duration: 100ms;
}
nav a:hover {
    background-color: #e7acac;
}

/*boss ladies intro*/
.container{
    position: absolute;
    width: 100%;
    max-width: 1842px;
    height: 650px;
    margin-top: 165px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding: 5px;
    background: linear-gradient(175deg, rgb(230, 230, 230), rgb(83, 87, 87));
    border: solid #ffffff 2px;
}
.box {
  grid-column: 1;
  grid-row: 1 / 3;
}
.josieSun{
  max-width: 800px;
  max-height: 6800px;
  width: 88%;
  height:100%;
  margin-left: 50px;
  color: black;
  background-image: linear-gradient(rgba(43, 42, 42, 0.507),rgba(41, 40, 40, 0.527)),url("images/josiesunshine.jpg");
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.newBox{
  height: 400px;
  position: relative;
  background: linear-gradient(150deg, rgb(102, 102, 102), rgb(128, 126, 126));
  display: flex;
  align-items: center;
  justify-content: center
}
.newBox img{
    padding: 30px;
    max-height: 100%;
}
.nested{
    grid-area: center;
    grid-column: 2;
}
button{
    width: 400px;
    height: 100px;
    border:solid #fff 3px;
    background-color: rgb(51, 51, 51);
    color:#fff;
    font-size: 2em;
}
.enter-button{
    margin-left: 300px;
}
button:hover{
    background: #e7acac;
}

#circText{
    position: relative;
    padding: 5px;
    font-size: 2.5rem;
    color: #fff;
    border-radius: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
}
#circText span{
   position: absolute;
   transform-origin: top left;
}
h3{
    text-align: right;
    padding-bottom: 50%;
}
.center-butt{
    align-content: center;
}

/*picture display*/
img.large {
    width: auto;
}
img.mid {
    display: relative;
    width: auto;
    height: 80%;
}
/*footer*/
footer{
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.social-foot{
    width: 10%;
    padding:10px 5px 10px 15px;
}
#contact-me{
color: white;
padding: 5px; 
}

/*screen size*/
@media screen and (max-width: 600px){
  .navbar a {
    float: none;
    width: 100%;
  }
  .josieSun img{
    width: 400px;
    }
}