body {
    font-size: 16px;
}



/*banner*/
header {
    width: 99.5%;
    height: 140px;
    position: fixed;
    border-style: solid;
    margin: 0 auto;
    z-index: 99;
    background-color: rgb(255, 246, 246);
}
header h1 {
    color: #020000;
    font-family: 'Markazi';
    font-size: 2.5rem;
    text-align: center;
}
nav a {
    text-decoration-line: none;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    transition-duration: 100ms;
    float: right;
    overflow: hidden;
}
nav ul {
    text-align: center;
}
nav li {
    display: inline;
    transition-property: color;
    transition-duration: 100ms;
}
nav a:hover {
    background-color: #edfffb;
}

/*boss ladies intro*/
.container{
    position: absolute;
    width: 99.5%;
    height: 650px;
    margin-top: 150px;
    background-color: rgb(146, 239, 252);
}
.grid{
    display: grid;
    grid-template:  100% 1fr /  1.5fr 2fr;
}
.box {
  position: relative;
  color: black;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/josiesunshine.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-b{
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}
.box-b img{
    padding: 20px;
    max-height: 100%;
}
.josieSun{
    width: auto;
    height: 75%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2vw;
}
#circText{
    position: relative;
    padding: 5px;
    color: #fff;
    border-radius: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
}
#circText span{
   position: absolute;
   transform-origin: top left;
}
h3{
    text-align: right;
    padding-bottom: 50%;
}
button{
    width: 200px;
    height: 50px;
    justify-content: center;
    position: center;
}


/*picture display*/
img.large {
    width: auto;
}
img.mid {
    display: relative;
    width: auto;
    height: 40%;
}

/*screen size*/
@media screen and (max-width: 80%){
  .navbar a {
    float: none;
    width: 100%;
  }
}
@media screen and (min-width: 20%){
    #circText span{
        padding: 10px;
    }
}